# Задание 1. Импортируйте библиотеку Numpy и дайте ей псевдоним np
Создайте массив Numpy под названием a размером 5x2, то есть состоящий из 5 строк и 2 столбцов. Первый столбец должен содержать числа 1, 2, 3, 3, 1, а второй - числа 6, 8, 11, 10, 7. Будем считать, что каждый столбец - это признак, а строка - наблюдение. Затем найдите среднее значение по каждому признаку, используя метод mean массива Numpy. Результат запишите в массив mean_a, в нем должно быть 2 элемента.

In [1]:
import numpy as np

In [2]:
a=np.array ([[1,6],
             [2,8],
             [3,11],
             [3, 10],
             [1, 7]])

In [3]:
a

array([[ 1,  6],
       [ 2,  8],
       [ 3, 11],
       [ 3, 10],
       [ 1,  7]])

In [4]:
mean_a=a.mean(axis= 0)

In [5]:
mean_a

array([2. , 8.4])

# # Задание 2
Вычислите массив a_centered, отняв от значений массива “а” средние значения соответствующих признаков, содержащиеся в массиве mean_a. Вычисление должно производиться в одно действие. Получившийся массив должен иметь размер 5x2.

In [6]:
a_centered=np.subtract(a, mean_a)

In [7]:
a_centered

array([[-1. , -2.4],
       [ 0. , -0.4],
       [ 1. ,  2.6],
       [ 1. ,  1.6],
       [-1. , -1.4]])

# Задание 3
Найдите скалярное произведение столбцов массива a_centered. В результате должна получиться величина a_centered_sp. Затем поделите a_centered_sp на N-1, где N - число наблюдений.

In [8]:
a1=a_centered[:,0]
a2=a_centered[:,1]
a_centered_sp=np.dot(a1,a2)
a_centered_sp

8.0

In [9]:
N=a.shape[0]
N

5

In [10]:
my_cov=a_centered_sp/(N-1)
my_cov

2.0

# Задание 4.
В этом задании проверьте получившееся число, вычислив ковариацию еще одним способом - с помощью функции np.cov.

In [11]:
np.cov(a.transpose())

array([[1. , 2. ],
       [2. , 4.3]])

# Задание 1
Импортируйте библиотеку Pandas и дайте ей псевдоним pd. Создайте датафрейм authors со столбцами author_id и author_name, в которых соответственно содержатся данные: [1, 2, 3] и ['Тургенев', 'Чехов', 'Островский'].

In [12]:
import pandas as pd

In [14]:
authors = pd.DataFrame ({'author_id':[1,2,3],
                        'author_name':['Тургенев', 'Чехов','Островский']},
                       columns=['author_id','author_name'])
authors

   author_id author_name
0          1    Тургенев
1          2       Чехов
2          3  Островский

# 1
Затем создайте датафрейм book cо столбцами author_id, book_title и price, в которых соответственно содержатся данные:  
[1, 1, 1, 2, 2, 3, 3],
['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
[450, 300, 350, 500, 450, 370, 290].

In [15]:
books = pd.DataFrame ({'author_id':[1,1,1,2,2,3,3],
                        'book_title':['Отцы и дети', 'Рудин','Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
                      'price':[450, 300, 350, 500, 450, 370, 290]},
                       columns=['author_id','book_title','price'])
books

   author_id            book_title  price
0          1           Отцы и дети    450
1          1                 Рудин    300
2          1     Дворянское гнездо    350
3          2      Толстый и тонкий    500
4          2       Дама с собачкой    450
5          3                 Гроза    370
6          3  Таланты и поклонники    290

#